{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>iGRC</title>
    <link rel="stylesheet" type="text/css" href="/static/css/foundation.css">
</head>
<body>


<div class="top-bar">
    <ul class="dropdown menu" data-dropdown-menu>

        <li>
            <a href="/">Session</a>
            <ul class="menu">
                {% if username %}
                    <li><a href="/auth/logout">Logout - {{ username }}</a></li>
                {% else %}
                    <li><a href="/auth/login">Login</a></li>
                {% endif %}
            </ul>
        </li>

        {% if username %}
            <li>
                <a href="/assay/menu">Assay</a>
                <ul class="menu">
                    <li><a href="/assay/questions">Questions</a></li>
                    <li><a href="/assay/assays">Assays</a></li>
                </ul>
            </li>
        {% endif %}



        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>


    </ul>
</div>


<h6>Сессия : {{ username }}</h6>
<h6>Действие : {{ action }}</h6>
<div class="row">


    {% block article %}{% endblock %}
    {% block login %}{% endblock %}
    {% block questions %}{% endblock %}
    {% block edit_question %}{% endblock %}
    {% block question %} {% endblock %}
    {% block create_question %}{% endblock %}
    {% block assays %}{% endblock %}
    {% block edit_assay %}{% endblock %}
    {% block assay %}{% endblock %}
    {% block create_assay %}{% endblock %}
    {% block assay_menu %}{% endblock %}


</div>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
