{% extends 'main.html' %}

{% block assays %}

    <a href="/assay/assays/create_assay">
        <span class="label success">Create assay</span>
    </a>

    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
        {% for assay in assays %}
            <li class="accordion-item" data-accordion-item>
                <a href="/assay/assays/{{ assay.id }}" class="accordion-title"><h6>{{ assay.id }}</h6></a>

                <div class="accordion-content" data-tab-content>

                    <div class="row">
                        <div class="medium-2 columns">
                    <span class="label secondary">
                        Наименование проверки
                    </span>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="column">
                            <label>
                                <textarea placeholder="None" readonly>{{ assay.assay_description }}</textarea>
                            </label>
                        </div>
                    </div>

                    <hr>
                    <span class="label secondary">
                        Выборка вопросов
                    </span>
                    <br>
                    <br>

                    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                        {% for assay_question in assay.assay_question.all %}
                            <li class="accordion-item" data-accordion-item>
                                <a href="/assay/questions/{{ assay_question.id }}" class="accordion-title">
                                    <h6>{{ assay_question }}</h6></a>

                                <div class="accordion-content" data-tab-content>

                                    <div class="row">
                                        <div class="medium-2 columns">
                    <span class="label secondary">
                        Формулировка вопроса
                    </span>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="column">

                                            <label>
                                                <textarea placeholder="None"
                                                          readonly>{{ assay_question.question_text }}</textarea>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>


                    <hr>

                    <div class="row align-justify">
                        <div class="column small-2">
                            <a href="/assay/assays/{{ assay.id }}/edit_assay">
                                <span class="label warning">Change assay</span>
                            </a>
                        </div>

                        <div class="column small-2">
                            <a href="/assay/assays/{{ assay.id }}/delete_assay">
                                <span class="label alert">Delete assay</span>
                            </a>
                        </div>
                    </div>

                    <br>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}