{% extends 'main.html' %}

{% block edit_question %}

    <div class="warning callout" data-closable="slide-out-right">
        <p>После нажатия на "Сохранить" данные будут модифицированы.
            <br>
            Приведенные ниже данные будут считаться актуальными.</p>
        <p class="help-text">Чтобы убрать данное сообщение - нажмите на крестик.</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>







    <form action="/assay/questions/{{ question_id }}/edit_question" method="post">
        {% csrf_token %}
        {{ form_edit }}
        <input class="button" type="submit" value="Save">
    </form>

    <ul class="tabs" data-tabs data-active-collapse="true" id="example-tabs">
        {% if form_question_text_input %}
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Input text</a></li>
        {% endif %}
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel" id="panel1">


            {% for form_temp in form_question_text_input %}
                Следующий
                {{ form_temp }}

                <div class="row align-justify">
                    <div class="column small-2">

                        <form action="/assay/questions/delete_question_text_input" method="post">

                            {% csrf_token %}


                            <input type="hidden" name="question_text_input_id"
                                   id="question_text_input_id" value="{{ form_temp.question_text_input_id.value }}">
                            <input type="hidden" name="question_id"
                                   id="question_id" value="{{ question_id }}">
                            <input class="label alert" type="submit" value="Delete text input">

                        </form>

                    </div>
                </div>

                <hr>
                <br>
            {% endfor %}
        </div>
        <div class=" tabs-panel" id="panel2">
            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in
                nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu
                tellus rhoncus ut eleifend nibh porttitor.</p>
        </div>
    </div>



    <div class="expanded button-group">
        <a href="/assay/questions/{{ question_id }}/edit_question/add_question_text_input" class="button">Add
            Question_Text_Input</a>
        <a class="button">Button</a>
        <a class="button">Group</a>
    </div>

{% endblock %}