{% extends 'main.html' %}


{% block edit_question %}

    <div class="warning callout" data-closable="slide-out-right">
        <p>После нажатия на "Сохранить" данные будут модифицированы.
            <br>
            Приведенные ниже данные будут считаться актуальными.</p>
        <p class="help-text">Чтобы убрать данное сообщение - нажмите на крестик.</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



    <form action="/assay/questions/{{ question_id }}/edit_question" method="post">
        {% csrf_token %}
        {{ form_edit }}
        <input class="button" type="submit" value="Save">
    </form>
{% endblock %}