{% extends 'main.html' %}


{% block question %}
    {{ form_question }}



    <ul class="tabs" data-tabs data-active-collapse="true" id="example-tabs">

        {% if form_question_text_input %}
            <li class="tabs-title"><a href="#question_text_input" aria-selected="true">Input text</a></li>
        {% endif %}

        {% if form_question_number_input %}
            <li class="tabs-title"><a href="#question_number_input" aria-selected="true">Input number</a></li>
        {% endif %}

        {% if form_question_text_area %}
            <li class="tabs-title"><a href="#question_text_area" aria-selected="true">Text area</a></li>
        {% endif %}

    </ul>


    <div class="tabs-content" data-tabs-content="example-tabs">

        <div class="tabs-panel" id="question_text_input">
            {% for form_temp in form_question_text_input %}
                Следующий
                {{ form_temp }}
                <hr>
                <br>
            {% endfor %}
        </div>

        <div class="tabs-panel" id="question_number_input">
            {% for form_temp in form_question_number_input %}
                Следующий
                {{ form_temp }}
                <hr>
                <br>
            {% endfor %}
        </div>


    <div class="tabs-panel" id="question_text_area">
        {% for form_temp in form_question_text_area %}
            Следующий
            {{ form_temp }}
            <hr>
            <br>
        {% endfor %}
    </div>

</div>
    <a href="/assay/questions" class="button">Вернуться к списку Questions</a>
{% endblock %}